//estilos aqui
* {
	font-family: $fuente;
}

body {
	position: relative;
	.row{
	margin-left: 0 !important;
	margin-right: 0 !important;
	}
}
.mod{
    background: rgba(0,0,0,0.8);
    // border-radius: 30px;
    position: fixed;
    z-index: 4;
    color: #0a6067;
    width: 90%;
    height: 65vh;
    top: 0;
    margin: 5%;

    h2 {
        margin:60px;
    }
    .ingresoPe {
    width:40%;
    }
  
}

