//estilos aqui

//PERFIL PESCADOR 
#registro{
 
 .mp-nombre{
 	margin-top: 10%;
 }
 .mp-editar{
	margin-top: 5%;
}
 .mp-formulario-venta{
 	margin-top: 3%;
 }
 .mp-medida{
 	margin-top: 2.5%;
 	margin-left: -2.5%;
 }
 

}